/*css for main page */
body{
     padding:10px;
}

p{
    font-family:"Arial",sans-serif;
}

.logo{
    background: url('MakerGear_Logo');
}

#greet{
    font-family:"Arial",sans-serif;
}

.header{
    text-align: center;
}

.tutorial{
    text-align: center;
    padding: 50px;
}

.column{
   text-align: center;
}
.submit{
    text-align: center;
}
.zmotor{
    
    width: 1000px;
    height: 280px;
}

.selector{
    
    padding-bottom: 50px;
}


/* css for z_motor.html*/
.greet2{
    padding-top: 50px;
    text-align: center;
    
}
