/*css for main page */

body {
    padding: ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    background-color: hsla(50, 0%, 90%, 1)
}


h3:hover {
    color: #FF6300;

}

span:hover {
    color: #FF6300;
}

pre {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

select{
    font-size: 150%;
}

/*classes*/

.logo {
    background: url('MakerGear_Logo');
}

.greet {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: #626569;
}

.greet2 {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    text-align: center;
    padding: 20px;
    color: #FF6300;
}


.header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

.tutorial {
    text-align: center;
    padding: 10px;

}

.steps1{
    padding-top: 70px;
    padding-bottom: 70px;
}


.center-text {
    text-align: center;
}


.pics {
    width: 170px;
    height: 120px;
    padding: 10px;
}

.pics2 {

    width: 290px;
    height: 140px;
    padding: 10px;
}

.hepics {
    padding-top: 15px;
}

.selector {

    padding-bottom: 50px;
}

.backArrow {
    float: right;
}

.nextArrow {
    float: left;
}

.links{
    color: #FF6300;
    background-color: black;
    padding: 10px;  
}


#ard1{
    padding-left: 55%;
}

#ard3{
    padding-right: 55%;
}
#exceptions{
    color: #FF6300;
    
}


/*media queries*/

@media only screen and (min-width: 736px){
    
    #ard1{
        padding-left: 1%;
    }
    #ard3{
        padding-right: 1%;
    }
    
}

