body{
     padding:10px;
}

p{
    font-family:"Arial",sans-serif;
}

.logo{
    background: url('MakerGear_Logo');
}

#greet{
    font-family:"Arial",sans-serif;
}

.header{
    text-align: center;
}
.column{
    text-align: center;
}